@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    max-width: 100%;
}

body {
    font-family: poppins;

}


.navbar {
    position: absolute;
    opacity: 0;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}


.navbar:hover {
    opacity: 1;
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.2);
}

.navbar a {
    color: white;
}



.navbar  .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
   margin: 0 25px;
}

.navbar .nav-links ul li.active a {
  color: white;
  font-weight: 600;
}

.navbar .menu-hamburger{
    display: none;
    width: 35px;
    position: absolute;
    top: 50px;
    right: 50px;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }
    
    .navbar .logo {
        position: absolute;
        top: 46px;
        left: 50px;
        font-size: 25px;
    }

    .navbar .menu-hamburger {
        display: block;
    }
    

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255,0.20);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }
    
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }



   .img-project {
    display: flex;
    flex-direction: column;
    
}

.img-project2 {
    display: flex;
    flex-direction: column;
}
.img-project3 {
    display: flex;
    flex-direction: column-reverse;
}

.parti-1 {
    min-width:80%;
  
}

.parti-2 {
    min-width:100%;
 
}
  
} 


.img-project {
    display: flex;
}

img {
    display: block;
}

.img-project2 {
    display: flex;
}
.img-project3 {
    display: flex;
}

.parti-1 {
    width: 30%;
    padding: 12% 10% 10% 10%;
    font-size: 22px;
}

.parti-2 {
    width: 50%;
}

footer {
    background-color: black;
    color: white;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }